<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Your Place</title>
    <link rel="stylesheet" href="css/yourplace.css">
</head>
<body>
    <div class="container1">
        <div>
            <img class="logo" src="img/yourplace.jpg">
        </div>
        <div id="para_cont1">
            <p>Because you are important!!</p>
        </div>
        <div id="login_signup">
            <button class="signup">Sign up</button>
        </div>
    </div>
    <div class="container2">
        <button id="b2">Exercises </button>
        <button id="b3">Mindfullness </button>
        <button id="b4">Recipes </button>
        <button id="b5">Games </button>
        <button id="b6">About us</button>
    </div>
    <div class="login-body">
        <form class="login_page">
            <h2 style="font-family:cursive;color:red;">User Login</h2>
            <input type="text" placeholder="Enter username">
            <input type="password" placeholder="Enter password">
            <input type="Submit">
        </form>
    </div>
    <script>
        document.write("User Experience - yourplace");
    </script>
</body>
</html>