{% extends 'base.html' %}
{% load static %}
<body>
    {% block content %}
    <div class="container3">
        <div>
            <img class="mindfulness" src="{% static 'images/mindfulness.jpg' %}">
        </div>
        <div>
            <p class="content">Self love and self care is what we ignore the most today in our hectic daily life. Statistics says among 60% of today's youth are suffering from depression,due to lack of self care. we sincerely believe that this website might change the life of any individual who is reading this.</p>
        </div>
    </div>
    <div class="container4">
        <p class="con4_1">All we want to convey you is, you are not alone!Join the revolution in defeating depression and leading a peaceful life. Become a part of us and practice the activities we post to lead a healthy and happy life.</p>
        <h3 class="con4_2" >Because you are important!!</h3>
    </div>
    <div class="new_con1">
        <h1>Today's Thought:</h1>
        <p id="para">You are the sun in someone's sky!! just they're shy to tell you. Feel the little things around you today.We are eager to meet you again, come sooner!!</p>
    </div>
    {% endblock %}
</body>
</html>