{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="vh-100 d-flex justify-content-center align-items-center" id="mindful_1">
        <div style="background-color:cornsilk;padding:20px;">
            <div class="text-dark">
                <h4>Predict your Health</h4>
            </div>
            <form action="yourbmi/" method="post">
                {% csrf_token %}
                <h6>{{result}}</h6>
                <span>Select Gender:</span>
                <input type="radio"  name="gender" value="male"><span>Male</span>
                <input type="radio"  name="gender" value="female"><span>Female</span>
                <input type="number" class="form-control" name="height" placeholder="Enter Height">
                <input type="number" class="form-control" name="weight" placeholder="Enter Weight">
                <div style="display:flex;justify-content:center;margin-top:10px;">
                    <input type="submit" class="btn btn-success"> 
                </div>
            </form>
        </div>
    </div>   
</section>
{% endblock %}