{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}
<section>
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center" id="recipes">
        <h1><strong>Eat Healthy</strong></h1>
        <h6><em>View suggested recipes inorder to gain maximum nutrition and maintain good health</em></h6>
    </div>
</section>
    {% for recipecount in recipe %}
    <div class="d-flex">
        <div class='card_modify text-center'>
            <div class=' mt-4 m-2 p-2 pb-5 w-70'>
                <h3 class='text-dark'> {{recipecount.recipename}} </h3>
            </div>
            <div class="d-flex">
                <div class="container w-50 h-auto d-flex justify-content-center align-items-center">
                    <img class="img1" src="{{recipecount.recipeimg.url}}" alt="imagedisplayed">
                </div>
                <div class="container w-50 h-auto d-flex justify-content-center">
                    <div class="d-block">
                        <h4>How to do: </h4>
                        <p>{{recipecount.recipesteps}}</p>
                        <h4>Ingredients: </h4>
                        <p>{{recipecount.recipedetails}}</p>
                        <h6 class="text-dark">Cooking Time: {{recipecount.recipesnoOfmins}} mins</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}