{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="d-flex vh-100">
        <div class="container w-50 h-auto d-flex justify-content-center align-items-center">
            <img style="height:100%;width:100%" src="{% static 'images/login_wp.jpg' %}">
        </div>
        <div class="container w-50 h-auto d-flex justify-content-center align-items-center text-black" style="background-color:rgb(0,0,15);">
            <div style="padding:20px 50px 20px;border-radius:20px 50px 20px;background-color:whitesmoke;box-shadow:10px 10px 5px;">
                <div class="d-flex justify-content-center">
                    <h4 class="d-flex justify-content-center"><em>Login</em></h4>
                </div>
                <form method="post">
                    <input class="form-control mt-2" type="text" name="name" placeholder="Enter Name">
                    <input class="form-control mt-2" type="text" name="email" placeholder="Enter Email">
                    <input class="form-control mt-2" type="password" name="password" placeholder="Enter Password">
               
                    <div style="display:flex;justify-content:space-between;">
                        <input class="btn btn-success mt-4" type="submit">
                        <input class="btn btn-success mt-4" type="reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>