{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}

<body>
    {% block content %}
    <section>
        <div id="mindful_1" class="vh-100 d-flex flex-column">
            <h1 class="mindful_1_head"><strong>Feed the inner you with these calming exercises!!</strong></h1>
        </div>
    </section>
    <div style="padding:100px;text-align:center;">
        <h2>Scroll down to learn several poses</h2>
    </div>
    {% for stretch in stretches %}
    <div class="d-flex">
        <div class='card_modify text-center'>
            <div class=' mt-4 m-2 p-2 pb-5 w-70'>
                <h3 class='text-dark'> {{stretch.yoganame}} </h3>
            </div>
            <div class="d-flex">
                <div class="container w-50 h-auto d-flex justify-content-center align-items-center">
                    <img class="img1" src="{{stretch.yogaimg.url}}" alt="imagedisplayed">
                </div>
                <div class="container w-50 h-auto d-flex justify-content-center">
                    <div class="d-block">
                        <h4>How to do: </h4>
                        <p>{{stretch.yogasteps}}</p>
                        <h4>Benefits: </h4>
                        <p>{{stretch.yogadetails}}</p>
                        <h6 class="text-dark">Exercise Time: {{stretch.yoganoOfmins}} mins</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <div style="margin-bottom:20px;">

    </div>
    
    {% endblock %}
</body>

</html>